{% extends 'base.html' %}

{% block title %}

  Редактирование мероприятия

{% endblock %}

{% block body %}
<div class="container mt-5">
  <h1> Редактирование мероприятия </h1>
  <form action="#" method="post">

    <input type="text" name="event_name" id="event_name" class="form-control" value={{ event.event_name }} placeholder="Введите название мероприятия"><br>
    <input type="text" name="place" id="place" class="form-control" value={{ event.place }} placeholder="Введите место проведения мероприятия"><br>

        {{ form.date(class='datepicker') }}
        {{ form.hidden_tag() }}
    
    <input type="submit" class="btn btn-success" value="Обновить">

  </form>
</div>
{% endblock %}