{% extends 'base.html' %}

{% block title %}

  {{ event.event_name }}

{% endblock %}

{% block body %}
<div class="container mt-5">

  <h1> {{ event.event_name }} </h1>

  <a href="/events/{{ event.id }}/add_team" class="btn btn-warning"> Добавить </a>

  <a href="/events/{{ event.id }}/update_team" class="btn btn-warning"> Изменить порядок </a>

  {% if list_event != [] %}

    {% for el in list_event %}

      <div class="alert alert-info">

        <form method="POST" action="/" class="d-inline">
          
          <h3>{{ el.number }}: {{ el.team.team_name}} <input type="checkbox" value= "{{ el.number }}" name="check_number" class="form-check-input"> </h3>

        </form>

        <a href="/events/{{ event.id }}/{{ el.team.id }}/delete_team" class="btn btn-warning"> Удалить </a>

      </div>

    {% endfor %}

  {% else %}

    <p> Номера еще не добавлены </p>

  {% endif %}

</div>
{% endblock %}