<!DOCTYP html>
<html lang="ru">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> 
  
  <title> Подтверждение электронной почты </title>

</head>

  <body>

    <div class="text-center">
      <h1> Добро пожаловать! </h1>
      <br />
      <p>
        Вы не подтвердили свою учетную запись. Пожалуйста, проверьте свой почтовый ящик (и папку со спамом
        ) - вы должны были получить электронное письмо со ссылкой для подтверждения.
      </p>
      <p>
        Не получили электронное письмо?
        <a href="/resend">Отправить повторно</a>
      </p>
    </div>


  </body>

</html>